.titulo{font-size: 60px;
      background-color: #851944;
      color: rgb(250,255, 250);
      text-align: center;
      font-family: "Open Sans Condensed", serif;
      padding: 25px;
      margin: 0px;
      border-bottom: 10px solid black;
      text-transform: uppercase;
    }
main{
    line-height:1.5;
    padding-bottom: 80px;
    float: left;
    width: 85%;
}


.github{
    background-image: url(img/github.png);
}
.twitter{
    background-image: url(img/twitter.png);
}
.linkedin{
    background-image: url(img/linkedin.png);
}
footer{
    clear:both;
    color: black; 
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
     
}
.rodape {
    padding: 20px;
    background-color: black;
    color: white;
}
.minha-foto, .navegacao-site{
    float: right;
	width: 15%;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}
.navegacao-site{
    clear: right;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    margin: 0px;
    text-align: center; 
}
.navegacao-site  h1{
    text-transform: uppercase;
}
ul li a{
    color:inherit;
    font-family: "Open Sans Condensed", serif;
}
nav ul{text-align: center;
    list-style-type:none;
    text-transform: lowercase;
}
.icones-sociais li{
    display:inline-block;
}
.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}
.quadro-bmw{
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 335px;
    height: 210px;
    margin-left: 150px;
    float: left;
    margin-top: 15px;
    
}
#link-bmw{
    margin-left: 10px;
     display: inline-block;
    
}
img{
    width: 100%;
}
.quadro-uol{
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 335px;
    height: 210px;
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}
#link-uol{
    margin-left: 10px;
     display: inline-block;
    
}

.quadro-ibm{
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 335px;
    height: 210px;
    float: left;
    margin-left: 150px;
    margin-top: 13px;
}
#link-ibm{
    margin-left: 10px;
     display: inline-block;
    
}

.quadro-g1{
    border-bottom: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 8px solid black;
    width: 335px;
    height: 210px;
    float: right;
   margin-right: 50px;
    margin-top: 13px;
}
#link-g1{
    margin-left: 10px;
     display: inline-block;
    
}
#amostra{
    margin-left: 150px;
     margin-top: 30px 

}
body{
    background-color:azure;
}


